@model IEnumerable<ProjetoFinal.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de fornecedor</h1>

<p>
    <a asp-action="Create">Novo fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FornecedorNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnpjFornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FornecedorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CnpjFornecedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
